.evidence-table th, .evidence-table td {
    border: 1px solid #c5b3a3;
    padding: 12px;
    text-align: left;
}

.evidence-table tr:nth-child(even) {
    background-color: rgba(139, 94, 52, 0.05);
}

.evidence-table th {
    background-color: #5c3d20;
    color: #fcfaf5;
}
